<div class="row">
    <div class="col-12 col-md-4">
        <mat-card class="skill-block">
            <mat-card-header>
                <i mat-card-avatar class="fa fa-desktop accent-color fa-2x"></i>
                <mat-card-title>Front-end Development</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    I love to bring new ideas into web browser and design, build responsive applications with mobile first approach.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12 col-md-4">
        <mat-card class="skill-block">
            <mat-card-header>
                <i mat-card-avatar class="fas fa-server accent-color fa-2x"></i>
                <mat-card-title>Back-end Development</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Build and maintain server side code with Nodejs, Spring boot and Expressjs that powers the applications to work End-to-End.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12 col-md-4">
        <mat-card class="skill-block">
            <mat-card-header>
                <i mat-card-avatar class="fa fa-mobile-alt accent-color fa-2x"></i>
                <mat-card-title>Native Mobile Development</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Develop awesome IOS native applications with UIKIT for client and service side code for applications and build animations.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12 col-md-4">
        <mat-card class="skill-block">
            <mat-card-header>
                <i mat-card-avatar class="fa fa-robot accent-color fa-2x"></i>
                <mat-card-title>Test Automation</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Expert in building test automation frameworks for user interface, services and mobile applications using tools and latest technologies.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12 col-md-4">
        <mat-card class="skill-block">
            <mat-card-header>
                <i mat-card-avatar class="fa fa-cloud-upload-alt accent-color fa-2x"></i>
                <mat-card-title>Cloud solutions</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Experience in building and deploying applications on cloud platforms such as Firebase, atlas MongoDB and AWS.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12 col-md-4">
        <mat-card class="skill-block">
            <mat-card-header>
                <i mat-card-avatar class="fa fa-chart-pie accent-color fa-2x"></i>
                <mat-card-title>Predictive Analytics</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Proficient in building predictive analytics using algorithms such as Logistic regression, K means and core ML for IOS apps
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<mat-divider class="my-3"></mat-divider>

<div class="row mt-5">
    <div class="col-3 text-center">
        <img src="../../../assets/images/IMG_2260.jpg" class="avatar" />
    </div>
    <div class="col-12 col-md-9">
        <h2>About me</h2>
        <p>
            I am a full time employee with a Fortune 200 company in USA as Sr. IT SDET. I am very much passionate about Internet Technology and I design, code my ideas into life through web and IOS native mobile applications through various technologies such as MEAN
            stack, Spring boot and native IOS apps with Swift
        </p>
        <p>
            I like to have clean design patterns, design apps with mobile first approach and thoughtful interaction for awesome user experience. Also, proficient with multistack technologies involving Web applications, Mobile Applications, Test Automation, Predictive
            Analytics and working with cloud solutions.
        </p>
        <!-- <button [routerLink]="['/portfolio']" [queryParams]="{filter:'Angular'}" mat-stroked-button>View More</button> -->
    </div>
</div>

<div class="row mt-5">
    <div class="col-3 text-center">
        <i class="fab fa-angular fa-10x angular-color d-none d-md-block"></i>
    </div>
    <div class="col-12 col-md-9">
        <h2>
            <i class="fab fa-angular angular-color d-md-none mr-2"></i>MEAN stack development
        </h2>
        <p>
            Design and Development of Responsive web application using MEAN stack. Experience in full stack development using MEAN stack. This application is built with MEAN stack and deployed on cloud.
        </p>
        <p>
            Front-end Technology Stack: Angular, Bootstrap and Angular Material
            <br />Back-end Technology Stack : ExpressJS, NodeJS and MongoDB <br /> Languages I code: HTML, CSS, Typescript and Javascript
        </p>
        <button [routerLink]="['/portfolio']" [queryParams]="{ filter: 'Angular' }" mat-stroked-button>
      View More
    </button>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12 col-md-9 text-right">
        <h2>
            IOS Application Development
            <i class="fab fa-apple apple-color d-md-none"></i>
        </h2>
        <p>
            I have experience in Design and Development of IOS apps with UIKIT, Client-server side, networking code and built instagram, Tinder, App store and Twitter clones programatically without storyboard.
        </p>
        <p>
            Native IOS application Development: UIKIT, Foundation and many more packages
            <br /> Database : Firebase, Core Data <br /> Languages I code: Swift
        </p>
        <button [routerLink]="['/portfolio']" [queryParams]="{ filter: 'React' }" mat-stroked-button>
      View More
    </button>
    </div>
    <div class="col-3 text-center">
        <i class="fab fa-apple fa-10x apple-color d-none d-md-block"></i>
        <!-- <i class="fab fa-app-store-ios"></i> -->
    </div>
</div>
<div class="row mt-5">
    <div class="col-3 text-center">
        <i class="fas fa-cogs fa-10x accent-color d-none d-md-block " style="color:lightseagreen"></i>
    </div>
    <div class="col-12 col-md-9">
        <h2>
            <i class="fas fa-cogs accent-color d-md-none mr-2"></i>Test Automation Development
        </h2>
        <p>
            Lot of experience in building test automation for User Interface, services and backend test automation with various tools and Technology. Building Test automation early in the development cycle to have true shift left and experienced in designing automation
            frameworks from the stratch.
        </p>
        <p>
            Front-End test automation : Selenium, Appium, Protractor, Cucumber for BDD, Jasmine, Jenkins, UDeploy and GIT.
            <br /> Interfact and Backend automation: Rest Assured, Karma, Karate and many more <br /> Languages I code: Java, Typescript, Gherkin and javascript
        </p>
        <button [routerLink]="['/portfolio']" [queryParams]="{ filter: 'Vue' }" mat-stroked-button>
      View More
    </button>
    </div>
</div>
<div class="portfolio-preview">
    <div class="row no-gutters">
        <div class="col-12">
            <h2>Recent Apps</h2>
            <p>
                Following are some of my GIT repos that i am currently working and this span across various technology starting from Angular, NodeJS, ExpressJS, IOS apps with Swift, Test Automation and Predictive Analytics.
            </p>
        </div>
    </div>
    <div class="row no-gutters">
        <div *ngFor="let item of recentProjects; index as i" [ngClass]="{
        'col-12 col-sm-4 col-md-4': i < 3,
        'col-12 col-sm-6 col-md-3': i >= 3
      }">
            <img class="img-fluid img-thumbnail project-images" [src]="item.preview + '?text=' + item.name" [alt]="item.name" />
        </div>

        <div class="col-12 mt-3">
            <button [routerLink]="['/portfolio']" mat-stroked-button>
        View More
      </button>
        </div>
    </div>
</div>